<div class="div_header">

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
   
    <div id="navbar3" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">首页</a></li>
        <li routerLinkActive="active"><a routerLink="/about">关于我们</a></li>
        <li routerLinkActive="active"><a routerLink="/pricing">客房</a></li>
        <li routerLinkActive="active"><a routerLink="/portfolio">餐饮</a></li>
        <li routerLinkActive="active"><a routerLink="/services">附加服务</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">联系我们</a></li>
      </ul>
      <!-- <div class=" title-right dropdown"> -->
        <a href="javascript:" class="dropdown-toggle" id="dropdownMenu1"
           data-toggle="dropdown"><img class="user" src="assets/images/yonghu.png"></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:">资料修改</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:" routerLink="/overview/userInfo">用户管理</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" routerLink="/login">安全退出</a>
          </li>
        </ul>
        <span>{{ datatime}}</span>
      <!-- </div> -->
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
</div>
