
  
  .dropdown-menu {
	margin: 1% 0% 0% 0%;
	min-width: 10%;
	left:53%;
  }
  .user {
	cursor: pointer;
	width:55%;
	padding-right: 1%;
  }
	
  .title-right {
	text-align: right;
	font-size: 2.5vh;
	color: red;
	margin: 2% 0% 0% -4%;
	z-index: 999;
	/* right: -588px;
	top: -21px; */
  }
  /* 这里必须加!important，因为这个<a>标签是boostrap内置的样式 */
  .wordStyle{
	  color: black !important;
  }