<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2><br>
      <h3>  酉阳喜悦秘境酒店(Joy Fairyland Hotel )位于中国著名原生态旅游胜地酉阳，地处金银山大道北，掩映于绿林中，旁边是陶怡阁和拙园，自然风景优美。这里占地近8亩，隐于山中很有意境，中式风格建筑尽显禅意与古韵，客房里透出浓浓的泰式风情...</h3><br>
      <h4>  办理入住时会提供上冰毛巾擦手解暑,房间里有每日提供的水果，冰箱里的饮料、小吃都。立于视野宽广的阳台上能一览曼妙的风景；用索尼音响连接手机或平板电脑蓝牙，边听喜欢的音乐边喝茶也十分惬意。花悦单间还带有小花园，可以边吹风边荡秋千。吃过美味丰富的早餐，不妨带着孩子去儿童乐园、室内泳池享受亲子时光。这里还有中西泰融合的喜悦生态餐厅，晚上的水池里烛光摇曳，可以边品尝佳肴边欣赏夜景。闲暇时，不如去问道茶吧喝一杯清茶，或在悦心SPA做一个舒服的按摩，也可以去两仪亭享受安宁...</h4>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
      <img src="../../assets/images/logo2.png"  width="400" height="300">

    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h3><strong>MISSION:</strong> 顾客至上, 宾至如归, 细节制胜，合作共赢!</h3><br>
      <h4><strong>VISION:</strong>  Joy Fairyland Hotel 是您感受美好生活的绝佳途径。您可在这里体验到称心如意的卓越服务与独特风格。也可在此与外界保持联络。如果您有 1/3/5 个小时的探索时间，您会做些什么？ 为帮助您充分享受自己的旅行时光， Joy Fairyland Hotel酒店及度假村已取得该品牌创意总监 Peter Jon Lindberg的大力支持，精心打造了一系列精彩纷呈的精髓体验。无论是Fairyland 1 小时、3 小时还是 5 小时体验，每一种都将在文化、艺术、美食和活动方面体现出浓郁的当地风情。现在，即使时间匆忙，客人仍然能够充分享受旅行中的每一个精彩时刻。在 Joy Fairyland Hotel， 我们坚信：我们所提供的不仅仅是住宿，更有无限灵感。</h4>
    </div>
  </div>
</div>




