@import '../../theme/sass/auth';

.auth-main{
    background-image:url(../../assets/images/timg.jpg);
    background-size: cover;
}

.auth-block{
    background: rgba(128, 112, 112, 0.75);
}

.error-area{
    height:20px;
}

.btn-auth{
    width:80px;
}