<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>Additional Services</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>汽车充电桩</h4>
      <p>Free</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-fire  logo-small"></span>
      <h4>烧烤用具</h4>
      <p>Free</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-road logo-small"></span>
      <h4>泊车</h4>
      <p>Free</p>
    </div>
  </div>

  
  <br><br>

  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-random logo-small"></span>
      <h4>24小时空调</h4>
      <p>Free</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>会议室</h4>
      <p>$88~$288</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-headphones logo-small"></span>
      <h4 style="color:#303030;">KTV</h4>
      <p>$188~$388</p>
    </div>
  </div>
</div>
