.carousel .item {
    width: 100%; /*slider width*/
    max-height: 700px; /*slider height 设置图片的高度*/
}
.carousel .item img {
    width: 100%; /*img width*/  
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}